## More Core Python Data Structures

In [52]:
d=dict()

To inser a value

In [53]:
d["Sajad"] = 35

Lets create a list and compare indices of lists and dict

In [54]:
l=list()

lets try to insert a value

In [55]:
l[0]=23

IndexError: list assignment index out of range

It doesn't work because the list is empty and does not take any space. It is a dynamic data structure. Creates as much space as required. We insert values using append or insert.

Error is generated because list is empty. So we have to use append or insert in case of lists.

Let's try to use insert function.

In [56]:
l.insert(0,23)

In [57]:
l

[23]

Insert function has worked even to insert the firs element in a list.

In [58]:
l.insert(0,51)

In [59]:
l

[51, 23]

Check the contents of the dictionary.

In [60]:
print(d)

{'Sajad': 35}

In [61]:
d["Jaskirat"] = 30

In [62]:
d

{'Sajad': 35, 'Jaskirat': 30}

Dictionary has two elements now. Each element is a key:value pair.

lets check whether the index 0, 1, 2..... work or not

In [63]:
d[0]

KeyError: 0

It does not work because dictionary treats index as key. Key 0 does not exists.

## Key of a dictionary can be a integer, floating point value, tuple or string and nothing else

In [64]:
d[0] = 90

In [65]:
d

{'Sajad': 35, 'Jaskirat': 30, 0: 90}

In [66]:
d[0]

90

Previous value at index 0 has been overwritten

Insert an element at a floating point type index

In [67]:
d[15.65] = "Machine Learning"

In [68]:
d

{'Sajad': 35, 'Jaskirat': 30, 0: 90, 15.65: 'Machine Learning'}

To check the value at the floating point type index

In [69]:
d[15.65]

'Machine Learning'

If we want to use more than one values for a key, we need to make a list of values.

In [70]:
linkedin_profile_details = dict()

In [71]:
linkedin_profile_details["Sajad"] = list()

In [72]:
linkedin_profile_details["Jaskirat"] = list()

In [73]:
linkedin_profile_details['Shalini'] = list()

In [74]:
print(linkedin_profile_details)

{'Sajad': [], 'Jaskirat': [], 'Shalini': []}

### Inserting all values at a time

In [75]:
linkedin_profile_details["Sajad"] = ["Malwan", 35, "Teacher"]

In [76]:
print(linkedin_profile_details)

{'Sajad': ['Malwan', 35, 'Teacher'], 'Jaskirat': [], 'Shalini': []}

### Inserting values by append function

In [77]:
linkedin_profile_details["Jaskirat"].append("Delhi")

In [78]:
linkedin_profile_details["Jaskirat"].append(30)

In [79]:
linkedin_profile_details["Jaskirat"].append("Professor")

In [80]:
linkedin_profile_details

{'Sajad': ['Malwan', 35, 'Teacher'],
 'Jaskirat': ['Delhi', 30, 'Professor'],
 'Shalini': []}

In [81]:
linkedin_profile_details["Shalini"].append("Mumbai")

In [82]:
linkedin_profile_details

{'Sajad': ['Malwan', 35, 'Teacher'],
 'Jaskirat': ['Delhi', 30, 'Professor'],
 'Shalini': ['Mumbai']}

We have to make a dictionary within dictionary in order to make a key for each value

In [83]:
d2= linkedin_profile_details["Jaskirat"]=dict()

In [93]:
d1=linkedin_profile_details["Sajad"]=dict()

In [94]:
d1["address"] = "Malwan"

In [95]:
d1["age"]=35

In [96]:
d1["desig"] = "Teacher"

In [97]:
d1

{'address': 'Malwan', 'age': 35, 'desig': 'Teacher'}

In [98]:
linkedin_profile_details

{'Sajad': {'address': 'Malwan', 'age': 35, 'desig': 'Teacher'},
 'Jaskirat': {},
 'Shalini': {'address': 'Mambai', 'age': 25, 'desig': 'Engineer'}}

In [99]:
d2["address"]= "Delhi"

In [100]:
d2["age"]=30

In [101]:
d2["desig"]="professor"

In [102]:
linkedin_profile_details

{'Sajad': {'address': 'Malwan', 'age': 35, 'desig': 'Teacher'},
 'Jaskirat': {'address': 'Delhi', 'age': 30, 'desig': 'professor'},
 'Shalini': {'address': 'Mambai', 'age': 25, 'desig': 'Engineer'}}

In order to check the designation of Jaskirat Singh

In [103]:
linkedin_profile_details["Jaskirat"]["desig"]

'professor'

In [104]:
d3=linkedin_profile_details["Shalini"]=dict()

In [105]:
d3

{}

In [106]:
type(d3)

dict

In [107]:
d3["address"]="Mambai"

In [108]:
d3["age"]=25

In [109]:
d3["desig"]="Engineer"

In [110]:
d3

{'address': 'Mambai', 'age': 25, 'desig': 'Engineer'}

In [111]:
linkedin_profile_details

{'Sajad': {'address': 'Malwan', 'age': 35, 'desig': 'Teacher'},
 'Jaskirat': {'address': 'Delhi', 'age': 30, 'desig': 'professor'},
 'Shalini': {'address': 'Mambai', 'age': 25, 'desig': 'Engineer'}}