## Functions related to list data structure

First create an object of class list named as 'l'

In [1]:
l=list()

A function to check the type of an object

In [2]:
type(l)

list

append-> a function to add an object at the end of a list

In [3]:
l.append(30)

In [4]:
l

[30]

In [5]:
print(l)

[30]

In [6]:
l.append(19.11)

In [7]:
l

[30, 19.11]

In [8]:
l.append("This class is about Data Structures in Python Language")

In [9]:
l

[30, 19.11, 'This class is about Data Structures in Python Language']

In [10]:
l[2]

'This class is about Data Structures in Python Language'

In [11]:
l.append(890)

In [12]:
l

[30, 19.11, 'This class is about Data Structures in Python Language', 890]

In order to check the value of an object at a perticular index

In [13]:
l[0]

30

Reverse function is used to reverse the list

In [14]:
l.reverse()

In [15]:
l

[890, 'This class is about Data Structures in Python Language', 19.11, 30]

In [16]:
l[3]

30

clear function is used to delete all the objects in a list

In [27]:
l.clear()

In [28]:
l

[]

In [29]:
l.append(90, 789, 67.19, "studying lists")

TypeError: append() takes exactly one argument (4 given)

An error is generated because the append function can add only one object to the list at a time

In [30]:
l.append(90)

In [31]:
l.append(789)

In [32]:
l.append(67.19)

In [33]:
l.append("studying lists")

In [34]:
l

[90, 789, 67.19, 'studying lists']

copy function is used to make a similar copy of a list

In [35]:
another_list=l.copy()

In [36]:
print(another_list)

[90, 789, 67.19, 'studying lists']

count function returns the number of occurences of a value

In [38]:
l.count(91)

0

In [39]:
l.count(789)

1

In [40]:
l.append(789)

In [41]:
l.count(789)

2

index function returns the index of a value

In [43]:
l.index(789)

1

insert fuction is used to insert a value before an index. It takes two arguments : index and value

In [45]:
l.insert(1, "Sajad")

In [46]:
l

[90, 'Sajad', 789, 67.19, 'studying lists', 789]

pop function removes and returns an item at an index

In [47]:
l.pop(1)

'Sajad'

In [48]:
l

[90, 789, 67.19, 'studying lists', 789]

remove function removes the first occurence of a value but does not return anything

In [49]:
y=l.remove(789)

In [50]:
y

In [51]:
## remove does not return a value, so y is empty

In [52]:
y

In [53]:
y

In [54]:
y = l.pop(1)

In [55]:
y

67.19

In [58]:
l=[23,11,67,55,39,22]

In [59]:
l

[23, 11, 67, 55, 39, 22]

sort function arranges the objects in a list in ascending order of their values. For descending order, we can use reverse function after sort

In [61]:
l.sort()

In [62]:
l

[11, 22, 23, 39, 55, 67]